@import "../uqlibrary-elements/resources/theme/element";

:host {
}

#masquerade {
  margin: 16px;
}

#booking {
  margin: 16px;
}

.apps {
  margin-top: 10px;
}

#homePage {
  text-align: -moz-center;
}

.app {
  width: 110px;
  height: 70px;
  text-align: center;
}
.home-icon {
  width: 44px;
  height: 44px;
  color: $primary;
  padding: 0;
}
paper-icon-button.huge::shadow #icon {
  width: 44px;
  height: 44px;
}
uqlibrary-home paper-icon-button.huge #icon {
  color: $primary;
}
.iconLabel {
  margin: 0;
  text-align: center;
  color: $secondary-text;
  font-size: 14px;
}