@import "../uqlibrary-elements/resources/theme/element";

:host {
}

core-drawer-panel {
  background-color: #fafafa;
}

@-moz-document url-prefix() {
  core-header-panel {
    background-color: #fafafa !important;
  }
}

#masquerade {
  margin: 16px;
}

#booking {
  margin: 16px;
}

#drawer {
  background-color: $white;
}

core-toolbar {
  background-color: $primary;
  border-bottom: 1px solid $primary-700;
  color: $text-inverse;
}

core-menu {
  margin: 0;
}

core-image {
  width:44px;
  height:44px;
  background-color:$grey-A100;
}

.apps {
  margin-top: 10px;
}

.app {
  box-sizing: border-box;
  margin: 6px;
  min-height: 44px;
  min-width: 44px;
  font-size: 0.875em;
  font-weight: 500;
  color: $secondary-text;
  text-align: center;
}

.slideUp {
  -webkit-transform: translate(0,-6em);
  -moz-transform: translate(0,-6em);
  -o-transform: translate(0,-6em);
  -ms-transform: translate(0,-6em);
  transform: translate(0,-6em);
}

.slideDown {
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -o-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}