@import "../uqlibrary-elements/resources/theme/element";

:host {
}

.item {
  box-sizing: border-box;
  height: 88px;
  border-bottom: 1px solid $grey-A100;
  padding: 4px;
  cursor: default;
  background-color: $white;
  overflow: hidden;
  line-height: 1.2;
}

.selected {
  background: $grey-A100;
}

.message {
  margin-top: 8px;
  padding-left: 16px;
  line-height: 1.2;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 60px;
}
.message-image {
  margin-top: 10px;
  margin-left: 16px;
  border-radius: 50%;
  background-repeat: no-repeat;
  height:40px;
  width:40px !important;
}

.primary {
  font-size: 16px;
  display: block;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.secondary {
  font-size: 14px;
}
.level {
  color: $secondary-text;
}

.timestamp {
  margin-left: 10px;
  font-size: 12px;
  opacity: 0.8;
}

.head {
  font-size: 14px;
  display: block;
  font-weight: bold;
  color: $secondary-text;
  padding-left: 16px;
}

.pad {
  padding-left: 16px;
}
